@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&display=swap');

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* --- Colours --- */
$w: #fff;
$b: #000;
$t: transparent;

@mixin pseduo-div( $w, $h, $c ) {
  content: '';
  width: $w;
  height: $h;
  display: block;
  position: absolute;
  background: $c;
}

@mixin w-h( $w, $h ) {
  width: $w;
  height: $h;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

p {
  font-style: italic;
  font-family: 'Noto Sans JP', sans-serif;
  margin: 0;

  &.desc {
    display: block;
    background-color: $b;
    color: $w;
    padding: 2%;
    font-size: 20px;
  }
}

.bubble {
  line-height: 1.3;
  font-size: 20px;
  padding: 2%;

  p {
    &:first-child {
      font-style: italic;
    }

    &:last-child {
      text-transform: uppercase;
    }

    @media only screen and (orientation: landscape) {
      font-size: 40px;
    }
  }
}

.container {
  margin: 0;
  @include w-h( 100%, 100% );
  // background-image: url("../resources/coder-cat.jpg");
  background-size: 1400px;
  background-repeat: no-repeat;
  background-position: 50% 100%;
  position: relative;

  @media only screen and (orientation: landscape) {
    display: flex;
  }
}

.s1,
.s2 {
  border: 10px solid $b;
  @include w-h( 100%, 50% );

  @media only screen and (orientation: landscape) {
    @include w-h( 50%, 100% );
  }
}

.s1 {
  border-bottom: 5px solid $b;

  @media only screen and (orientation: landscape) {
    border-bottom: 10px solid $b;
    border-right: 5px solid $b;
  }
}

.s2 {
  border-top: 5px solid $b;

  @media only screen and (orientation: landscape) {
    border-top: 10px solid $b;
    border-left: 5px solid $b;
  }
}

// .mountains {
//   &--1,
//   &--2 {
//     width: 100vw;
//     height: 100vh;
//     position: absolute;
//     top: 0;
//     left: 0;
//   }

//   &--1 {
//     clip-path: polygon(0 35%, 7% 28%, 12% 38%, 20% 30%, 26% 34%, 37% 12%, 47% 28%, 55% 34%, 62% 20%, 70% 26%, 76% 17%, 85% 33%, 88% 29%, 94% 39%, 100% 34%, 100% 100%, 0 100%);
//     background:
//     linear-gradient( $n 50%, darken( $n, 20 ));
//   }

//   &--2 {
//     clip-path: polygon(0 55%, 8% 60%, 18% 74%, 25% 69%, 31% 70%, 38% 74%, 58% 75.5%, 67% 73%, 72% 68%, 86% 68%, 93% 64%, 96% 54%, 100% 48%, 100% 100%, 0 100%);
//     background:
//     linear-gradient( $n 40%, darken( $n, 20% ));
//   }
// }

// .aang {
//   @include w-h( 50vmin, 90vmin );
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   position: relative;
// }

// .sign {
//   @include w-h( 54%, 22% );
//   position: absolute;
//   top: -2.5%;
//   transform: rotate( -2.5deg );
//   background: linear-gradient( 165deg, darken( $wh, 15 ) 65%, darken( $wh, 5 ) 66% );

//   svg {
//     @include w-h( 90%, 90% );
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate3d( -50%, -50%, 0 );
//   }
// }

// .head {
//   @include w-h( 21.5%, 15.5% );
//   border-radius: 50% / 40% 40% 60% 60%;
//   position: absolute;
//   top: 27%;
//   left: 38.8%;
//   overflow: hidden;
//   background: $sl;

//   // eyes
//   &::before,
//   &::after {
//     @include pseduo-div( 29%, 11%, null );
//     border-radius: 0 0 20vmin 20vmin;
//     top: 58%;
//     background-color: $wh;
//     box-shadow: 0 0 1vmin 0 $wh, 0 0 2vmin 0 $bu, 0 0 2.2vmin 0 $bu, 0 0 3vmin 0 $bu;
//     z-index: 10;
//   }

//   &::before {
//     left: 13%;
//     transform: rotate( 25deg );
//   }

//   &::after {
//     left: 60%;
//     transform: rotate( -25deg );
//   }

//   // arrow
//   &__arrow {
//     &--top {
//       @include w-h( 25%, 37% );
//       background-color: $wh;
//       position: absolute;
//       top: 0;
//       left: 37.5%;
//       border-radius: 25% 25% 5% 5%;
//       box-shadow: 0 0 0.5vmin 0 $wh, 0 0 2vmin 0 $bu, 0 0 4vmin 0 $bu;

//       // line
//       &::before {
//         @include pseduo-div( 100%, 100%, null );
//         top: 4%;
//         left: 0;
//         border-radius: 25% 25% 5% 5%;
//         background-color: $wh;
//         animation: glow 3s infinite ease-in-out;
//       }

//       // arrow
//       &::after {
//         @include pseduo-div( 0, 0, null );
//         top: -18%;
//         left: 28%;
//         border-bottom: 4.5vmin solid $wh;
//         border-left: 4.5vmin solid $t;
//         border-top: 4.5vmin solid $t;
//         transform: rotate( 45deg );
//       }
//     }

//     &--triangle {
//       top: -2%;
//       left: 44%;
//       position: relative;

//       &::before,
//       &::after {
//         @include pseduo-div( 0, 0, null );
//         top: -2.2vmin;
//         left: 0;
//         filter: blur( 0.5vmin );
//         transform: rotate( 45deg );
//         border-left: 5.5vmin solid $t;
//         border-top: 5.5vmin solid $t;
//         animation: glow 3s infinite ease-in-out;
//       }

//       &::before {
//         border-bottom: 5.5vmin solid $bu;
//       }

//       &::after {
//         border-bottom: 5.5vmin solid $wh;
//       }
//     }
//   }

//   // shadow
//   &__shadow {
//     @include w-h( 94%, 78% );
//     border-radius: 50% / 40% 40% 60% 60%;
//     background-color: $sd;
//     position: absolute;
//     bottom: 2%;
//     left: 3.2%;
//     animation: glow 3s infinite ease-in-out;
//   }
// }

// .ear {
//   &__l,
//   &__r,
//   &__l::before,
//   &__r::before {
//     border-radius: 50% / 60% 60% 40% 40%;
//   }

//   &__l,
//   &__r {
//     @include w-h( 4.7%, 4.2% );
//     background-color: $sl;
//     position: absolute;
//     top: 33%;

//     &::before {
//       @include pseduo-div( 85%, 85%, $sd );
//       left: 0;
//     }
//   }

//   &__l {
//     left: 35.5%;
//     transform: rotate( -195deg );

//     &::before {
//       left: 12%;
//       background:
//         radial-gradient( 4% 4% at 20% 40%, $sl 0.3vmin, $t 0.4vmin ),
//         $sd;
//     }
//   }

//   &__r {
//     left: 59%;
//     transform: rotate( 195deg );

//     &::before {
//       background:
//         radial-gradient( 4% 4% at 92% 38%, $sl 0.3vmin, $t 0.4vmin ),
//         $sd;
//     }
//   }
// }

// .neck {
//   @include w-h( 21%, 7.5% );
//   background: linear-gradient( 180deg, $yd 25%, $od);
//   position: absolute;
//   border-radius: 22% 22% 0 0;
//   top: 39.5%;
//   left: 39.2%;

//   // neck
//   &::before {
//     @include pseduo-div( 50%, 60%, $sd );
//     top: 24%;
//     left: 24%;
//   }
// }

// .collar {
//   &__r,
//   &__l {
//     @include w-h( 7.2%, 6% );
//     position: absolute;
//     top: 40.2%;

//     &::after {
//       @include pseduo-div( 45%, 53%, null );
//       top: 35%;
//     }
//   }

//   &__l {
//     background: linear-gradient( 26deg, $od 28%, $ym calc( 28% + 1px ), $ym 68%, $yl 70%, $t calc( 70% + 1px ));
//     left: 39.3%;
//     border-radius: 0 0 0 100% / 0 0 0 60%;

//     &::after {
//       left: 100%;
//       background: linear-gradient( 60deg, $ym 48%, $t 49% );
//     }

//     // center bottom curve
//     &::before {
//       @include pseduo-div( 100%, 14%, null );
//       top: 84%;
//       left: 94%;
//       background: linear-gradient( $t 20%, $ym 20% );
//       border-radius: 50%;
//     }
//   }

//   &__r {
//     background: linear-gradient( -26deg, $od 28%, $ym calc( 28% + 1px ), $ym 68%, $yl 70%, $t calc( 70% + 1px ));
//     left: 52.8%;
//     border-radius: 0 0 100% 0 / 0 0 60% 0;

//     &::after {
//       left: -45%;
//       background: linear-gradient( -58deg, $ym 50%, $t 51% );
//     }
//   }
// }

// .cloak {
//   @include w-h( 58%, 35% );
//   border-radius: 50% / 40% 40% 60% 60%;
//   position: absolute;
//   top: 29.5%;
//   overflow: hidden;

//   &::before,
//   &::after {
//     @include pseduo-div( 70%, 80%, null );
//     top: 17%;
//   }

//   &::before {
//     left: -41%;
//     background:
//       linear-gradient( -5deg, $t 96%, $ol 96.5% ),
//       radial-gradient( 2% 4% at 77% 6%, $od 4.6vmin, $t 4.7vmin ),
//       linear-gradient( 90deg, $od 80%, $t 80.5% );
//     transform: rotate( 50deg );
//   }

//   &::after {
//     left: 69%;
//     background:
//       linear-gradient( 5deg, $t 96%, $ol 96.5% ),
//       radial-gradient( 2% 4% at 24% 8%, $od 4.6vmin, $t 4.7vmin ),
//       linear-gradient( -90deg, $od 80%, $t 80.5% );
//     transform: rotate( -50deg );
//   }
// }

// .arm {
//   &__l,
//   &__r {
//     @include w-h( 8%, 15% );
//     position: absolute;

//     // Upper arm
//     &::before {
//       @include pseduo-div( 115%, 55%, null );
//     }

//     // Hand
//     &::after {
//       @include pseduo-div( 70%, 35%, $sd );
//       top: -23%;
//       transform: rotate( -95deg );
//     }
//   }

//   &__l {
//     top: 20.2%;
//     left: 18.5%;
//     transform: rotate( 7deg );
//     border-radius: 40% 40% 0 30% / 40% 70% 0 30%;
//     background:
//       linear-gradient( 93deg, $t 80%, $yl 81% ),
//       radial-gradient( 4% 1% at 50% 44%, $ym 4vmin, $t 4.2vmin ),
//       radial-gradient( 4% 1% at 50% 36%, $od 4vmin, $t 4.2vmin ),
//       $ym;

//     &::before {
//       top: 75%;
//       left: 32%;
//       transform: rotate( -46deg );
//       box-shadow: inset 0.0vmin 0.5vmin 0 0 $ym;
//       border-radius: 50% 5% 20% 0 / 70% 50% 40% 0;
//       background:
//         linear-gradient( $ym 28%, $t 29% ),
//         radial-gradient( 4% 1% at 50% 60%, $t 4vmin, $ym 4.2vmin ),
//         linear-gradient( 90deg, $t 60%, $od 61%, $od 83%, $ol 84% ),
//         radial-gradient( 4% 1% at 50% 77%, $ym 4vmin, $t 4.2vmin ),
//         radial-gradient( 4% 1% at 50% 60%, $od 4vmin, $t 4.2vmin );
//     }

//     &::after {
//       border-radius: 20% 20% 10% 80% / 30% 10% 10% 90%;
//       left: 0%;
//       transform: rotate( -10deg );
//     }
//   }

//   &__r {
//     top: 20.2%;
//     left: 74%;
//     transform: rotate( -3deg );
//     border-radius: 40% 40% 30% 0 / 40% 70% 30% 0;
//     background:
//       linear-gradient( 85deg, $yl 18%, $t 1% ),
//       radial-gradient( 4% 1% at 50% 47%, $ym 4vmin, $t 4.2vmin ),
//       radial-gradient( 4% 1% at 50% 39%, $od 4vmin, $t 4.2vmin ),
//       $ym;

//     &::before {
//       top: 73%;
//       left: -45%;
//       transform: rotate( 45deg );
//       box-shadow: inset 0.0vmin 0.5vmin 0 0 $ym;
//       border-radius: 5% 50% 0 20% / 50% 70% 0 40%;
//       background:
//         linear-gradient( $ym 28%, $t 29% ),
//         radial-gradient( 4% 1% at 50% 60%, $t 4vmin, $ym 4.2vmin ),
//         linear-gradient( 90deg, $ol 17%, $od 18%, $od 34%, $t 35% ),
//         radial-gradient( 4% 1% at 50% 77%, $ym 4vmin, $t 4.2vmin ),
//         radial-gradient( 4% 1% at 50% 60%, $od 4vmin, $t 4.2vmin );
//     }

//     &::after {
//       border-radius: 20% 20% 10% 80% / 30% 10% 10% 90%;
//       left: 4%;
//       transform: rotate( 10deg );
//     }
//   }
// }

// .sleeve {
//   &__l,
//   &__r {
//     @include w-h( 7%, 1.4% );
//     position: absolute;
//   }

//   &__l {
//     top: 20.5%;
//     left: 20%;
//     transform: rotate( 5deg );
//     border-radius: 10% 10% 30% 30%;
//     background:
//       linear-gradient( 80deg, $t 9%, $ym 12%, $ym 80%, $t 81% ),
//       linear-gradient( -80deg, $t 5%, $ym 7%, $ym 80%, $t 81% );
//   }

//   &__r {
//     top: 21%;
//     left: 73.4%;
//     transform: rotate( -5deg );
//     border-radius: 10% 10% 30% 30%;
//     background:
//       linear-gradient( 80deg, $t 9%, $ym 12%, $ym 80%, $t 81% ),
//       linear-gradient( -80deg, $t 5%, $ym 7%, $ym 80%, $t 81% );
//   }
// }

// .fingers {
//   &__l,
//   &__r {
//     @include w-h( 7.7%, 1.5% );
//     border-radius: 30% / 80%;
//     background-color: $sd;
//     position: absolute;

//     &::after {
//       @include pseduo-div( 90%, 90%, $sd );
//       border-radius: 30% / 80%;
//     }
//   }

//   &__l {
//     top: 17.5%;
//     left: 19.8%;
//     transform: rotate( -8deg );
//     box-shadow:
//       0vmin -1.1vmin 0 0 $sd,
//       0.3vmin -2.2vmin 0 0 $sd;

//     &::after {
//       transform: rotate( 10deg );
//       top: -235%;
//       left: 18%;
//     }
//   }

//   &__r {
//     top: 17%;
//     left: 72.5%;
//     box-shadow:
//       0.3vmin -1.1vmin 0 0 $sd,
//       0.2vmin -2.2vmin 0 0 $sd;


//     &::after {
//       transform: rotate( -8deg );
//       top: -235%;
//       left: 5%;
//     }
//   }
// }

// .torso {
//   // sash
//   @include w-h( 22%, 6% );
//   background-color: $od;
//   position: absolute;
//   box-shadow: 0 0.5vmin 0 0 $yd;
//   border-radius: 0 0 30% 30%;
//   top: 55.2%;
//   left: 39%;

//   // body
//   &::before {
//     @include pseduo-div( 120%, 220%, null );
//     background: linear-gradient( $od 25%, $ym 25.5% );
//     position: absolute;
//     border-radius: 0 0 15% 15% / 80%;
//     top: -160%;
//     left: -10%;
//     overflow: hidden;
//   }

//   &::after {
//     @include pseduo-div( 106%, 56%, $ym );
//     position: absolute;
//     border-radius: 50%;
//     top: 22%;
//     left: -3%;
//   }

//   &__shadow {
//     @include w-h( 26.2%, 11% );
//     position: absolute;
//     border-radius: 0 0 48% 48%;
//     top: 48.8%;
//     left: 36.9%;
//     overflow: hidden;

//     &::before,
//     &::after {
//       @include pseduo-div( 120%, 60%, $yd );
//       top: 0%;
//       border-radius: 50%;
//     }

//     &::before {
//       left: -59%;
//       transform: rotate( -33deg );
//     }

//     &::after {
//       left: 37%;
//       transform: rotate( 33deg );
//     }
//   }
// }

// .leg {
//   &__l,
//   &__r {
//     @include w-h( 9%, 24% );
//     position: absolute;
//     border-radius: 40% 40% 30% 30%;
//     top: 70.6%;

//     // pants
//     &::before {
//       @include pseduo-div( 200%, 100%, $ym );
//       position: absolute;
//       top: -50%;
//     }
//   }

//   &__l {
//     left: 35.8%;
//     transform: rotate( 10deg );
//     background:
//       radial-gradient( 1vmin 1.6vmin at 55% 95%, $t 5.4vmin, $rd 5.5vmin ),
//       radial-gradient( 1.6vmin 1vmin at 66% 99.2%, $rd 3vmin, $rl 3.1vmin ),
//       $rl;

//     &::before {
//       left: -48%;
//       border-radius: 10% 10% 30% 30% / 30% 30% 80% 30%;
//       background:
//         radial-gradient( circle at 27% -1.9%, $yd 2.5vmin, $t 2.6vmin ),
//         radial-gradient( 1vmin 2vmin at 35% 40%, $t 5.4vmin, $yd 5.5vmin ),
//         $ym;
//     }
//   }

//   &__r {
//     left: 55.5%;
//     transform: rotate( -10deg );
//     background:
//     radial-gradient( 1vmin 1.6vmin at 35% 95%, $t 5.4vmin, $rd 5.5vmin ),
//     radial-gradient( 1.6vmin 1vmin at 30% 99%, $rd 3vmin, $rl 3.1vmin ),
//       $rl;

//     &::before {
//       left: -52%;
//       border-radius: 10% 10% 30% 30% / 30% 30% 30% 80%;
//       background:
//         radial-gradient( circle at 71% -2.2%, $yd 2.5vmin, $t 2.6vmin ),
//         linear-gradient( $ym 60%, $t 60.5% ),
//         linear-gradient( $ym 60%, $t 60.5% ),
//         radial-gradient( 1vmin 2vmin at 56% 41%, $t 5.4vmin, $yd 5.5vmin ),
//         $ym;
//     }
//   }
// }

// .shoe {
//   &__l,
//   &__r {
//     @include w-h( 6.8%, 3% );
//     position: absolute;
//     top: 93%;
//     border-radius: 50%;

//     &::before {
//       @include pseduo-div( 150%, 200%, null );
//       position: absolute;
//       top: 60%;
//       background:
//       linear-gradient( 77deg, $t 45%, $rl 46%, $rl 82%, $t 83% ),
//       linear-gradient( 105deg, $t 20%, $rl 21%, $rl 60%, $t 60% );
//     }

//     // shoe toe
//     &::after {
//       @include pseduo-div( 190%, 120%, $bl );
//       background: radial-gradient( 2vmin 0.5vmin at 50% 85%, $bd 2.5vmin, $t 2.8vmin ), $bl;
//       box-shadow: inset 0 -0.5vmin 0 0 $bd;
//       position: absolute;
//     }
//   }

//   &__l {
//     left: 33.3%;
//     transform: rotate( -7deg );
//     background:
//       radial-gradient( 1.6vmin 1vmin at 40% 75%, $t 2.4vmin, $rd 2.5vmin ),
//       radial-gradient( 1.6vmin 1vmin at 40% 75%, $t 2.4vmin, $rd 2.5vmin ),
//       $rl;

//     &::before {
//       left: -60%;
//       transform: rotate( 20deg );
//     }

//     &::after {
//       top: 200%;
//       left: -125%;
//       border-radius: 70% 50% 30% 40%;
//       transform: rotate( 7deg );
//     }
//   }

//   &__r {
//     left: 60%;
//     transform: rotate( 7deg );
//     background:
//       radial-gradient( 1.6vmin 1vmin at 50% 75%, $t 2.4vmin, $rd 2.5vmin ),
//       radial-gradient( 1.6vmin 1vmin at 50% 75%, $t 2.4vmin, $rd 2.5vmin ),
//       $rl;

//     &::before {
//       left: 0%;
//       transform: rotate( -20deg );
//     }

//     &::after {
//       top: 200%;
//       left: 25%;
//       border-radius: 50% 70% 40% 30%;
//       transform: rotate( -8deg );
//     }
//   }
// }

// .fire {
//   &--f,
//   &--b {
//     @include w-h( 58vmin, 58vmin );
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     border-radius: 50%;
//     background: radial-gradient( circle at 10% 10%, $t 62%, rgba( $bu, 0.35 ) 63% );
//     filter: blur( 1.5vmin );
//     box-shadow: 1vmin 0.5vmin 0 0 $bu;
//     will-change: opacity, filter;
//   }

//   &--f {
//     transform: translate3d( -50%, -30%, 0 ) skew( 20deg);
//     animation: glow 3s 1.25s infinite ease-in-out;
//   }

//   &--b {
//     transform: translate3d( -55%, -75%, 0 ) rotate( 115deg );
//     animation: glow 3s infinite ease-in-out;
//   }
// }

// .circle {
//   @include w-h( 75vmin, 75vmin );
//   top: 50%;
//   left: 50%;
//   filter: blur( 1.5vmin );
//   transform: translate3d( -50%, -45%, 0 );
//   border-radius: 50%;
//   position: absolute;
//   background-color: rgba( $wh, 0.12 );
//   box-shadow: 0 0 3vmin 0 rgba( $wh, 0.1 ), 0 0 2vmin 0 rgba( $bu, 0.1 ), 0 0 5.2vmin 0 rgba( $bu, 0.1 ), 0 0 7vmin 0 rgba( $bu, 0.1 );
//   animation: glow 4s 1s infinite ease-in-out;
//   overflow: hidden;
// }

// .vingette {
//   @include w-h( 100vw, 100vh );
//   position: absolute;
//   background: radial-gradient( circle, $t 60%, $blk 150%);
// }

// @keyframes glow {
//   0% {
//     opacity: 1;
//   }

//   50% {
//     opacity: 0.6;
//   }

//   100% {
//     opacity: 1;
//   }
// }

// @keyframes blur {
//   0% {
//     filter: blur( 1.5vmin );
//   }

//   50% {
//     filter: blur( 2.5vmin );
//   }

//   100% {
//     filter: blur( 1.5vmin );
//   }
// }