@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&display=swap');

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* --- Colours --- */
$w: #fff;
$b: #000;
$g1: #d3d3d3;
$g2: #a8a8a8;
$g3: #7e7e7e;
$t: transparent;

@mixin pseduo-div( $w, $h ) {
  content: '';
  width: $w;
  height: $h;
  display: block;
  position: absolute;
}

@mixin w-h( $w, $h ) {
  width: $w;
  height: $h;
}

@mixin t-l ( $t, $l ) {
  top: $t;
  left: $l;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.wrapper {
  margin: 0;
  @include w-h( 100%, 100% );
  // background-image: url("../resources/coder-cat.jpg");
  // background-size: 1400px;
  // background-repeat: no-repeat;
  // background-position: 50% 100%;
  position: relative;

  @media only screen and (orientation: landscape) {
    display: flex;
  }

  // dots
  // &::before {
  //   @include pseduo-div( 100%, 100% );
  //   background: radial-gradient( circle at center, $b 1px, $t 1% );
  //   background-repeat: repeat;
  //   background-size: 8px 8px;
  // }
}

p {
  font-style: italic;
  font-family: 'Noto Sans JP', sans-serif;
  margin: 0;

  &.desc {
    display: block;
    background-color: $b;
    color: $w;
    padding: 2%;
    font-size: 20px;
  }
}

.bubble {
  line-height: 1.3;
  font-size: 20px;
  padding: 2%;

  p {
    &:first-child {
      font-style: italic;
    }

    &:last-child {
      text-transform: uppercase;
    }

    @media only screen and (orientation: landscape) {
      font-size: 40px;
    }
  }
}

.b1,
.b2 {
  border: 10px solid $b;
  position: relative;
  overflow: hidden;
  @include w-h( 100%, 50% );

  @media only screen and (orientation: landscape) {
    @include w-h( 50%, 100% );
  }

  &__cat {
    @include w-h( 70vmin, 70vmin );
    border: 2px dashed green;
    position: absolute;
    @include t-l( 50%, 50% );
    transform: translate3d( -50%, -30%, 0 );

    &--head {
      @include w-h( 28vmin, 21vmin );
      border-radius: 88% 88% 60% 60% / 100% 100% 65% 65%;
      position: absolute;
      box-shadow: 0.5vmin 0 0 0 $b, -0.5vmin 0 0 0 $b, 0 -0.5vmin 0 0 $b;
      // background-color: $w;
      @include t-l( 16%, 33% );
      background:
        // eyes
        linear-gradient( $t 52%, $g1 52.5% ),
        radial-gradient( 1.1% 2% at 27% 53%, $g1 1.3vmin, $t 1.4vmin ),
        radial-gradient( 1% 2% at 27% 52%, $b 1.7vmin, $t 1.8vmin ),
        radial-gradient( 1.1% 2% at 75% 53%, $g1 1.3vmin, $t 1.4vmin ),
        radial-gradient( 1% 2% at 75% 52%, $b 1.7vmin, $t 1.8vmin ),
        $g1
      ;

      &-snout {
        @include w-h( 17vmin, 10vmin );
        position: absolute;
        border-radius: 50%;
        background-color: $w;
        // border: 1px solid green;
        @include t-l( 51%, 23% );
        background:
          // mouth
          linear-gradient( $g1 30%, $t 30.5% ),
          radial-gradient( 1% 1.6% at 35.5% 28%, $g1 1.8vmin, $t 1.9vmin ),
          radial-gradient( 1% 1.6% at 36% 28%, $b 2.2vmin, $t 2.3vmin ),
          radial-gradient( 1% 1.6% at 60.5% 28%, $g1 1.8vmin, $t 1.9vmin ),
          radial-gradient( 1% 1.6% at 60% 28%, $b 2.2vmin, $t 2.3vmin ),
          radial-gradient( 1% 1.6% at 48.5% 46%, $b 2.5vmin, $t 2.6vmin ),
          ;
        // nose
        &:after {
          @include pseduo-div( 3.5vmin, 2.2vmin );
          border-radius: 45% 45% 70% 70% / 40% 40% 100% 100%;
          background-color: $b;
          @include t-l( 10%, 38% );
        }
      }
    }

    &--ear-l,
    &--ear-r {
      @include w-h( 10vmin, 10vmin );
      position: absolute;
      background-color: $g1;
      border-radius: 20%;
      border: 0.5vmin solid $b;
      clip-path: polygon( 0% 0%, 100% 100%, 0% 100% );
    }

    &--ear-l {
      @include t-l( 15%, 32% );
      transform: rotate( 115deg ) skewY( -30deg );
    }

    &--ear-r {
      @include t-l( 15%, 59.5% );
      transform: rotate( 155deg ) skewX( -30deg );
    }

    &--body {
      @include w-h( 36vmin, 18vmin );
      // box-shadow: 0.5vmin 0 0 0 $b, -0.5vmin 0 0 0 $b;
      background-color: $g1;
      border-radius: 80% 80% 0% 0% / 100% 100% 0% 0;
      position: absolute;
      // border: 1px solid green;
      @include t-l( 41.6%, 28% );
      background: radial-gradient( 1% 2.2% at 50% 90%, $w 12vmin, $g1 12.1vmin );
    }
  }

  &__table {
    @include w-h( 100vmin, 50vmin );
    background-color: $w;
    border-top: 2px solid $b;
    position: absolute;
    @include t-l( 50%, 50% );
    transform: translate3d( -50%, 10vmin, 0 );
  }

  &__computer {
    @include w-h( 41vmin, 30vmin );
    // border: 1px solid blue;
    position: absolute;
    @include t-l( 40%, 6% );

    &::before,
    &::after {
      border: 0.5vmin solid $b;
    }

    // keyboard
    &::before {
      @include pseduo-div( 25vmin, 13vmin );
      box-shadow:
        0.2vmin 0.2vmin 0 0 $b,
        0.4vmin 0.4vmin 0 0 $b,
        0.6vmin 0.6vmin 0 0 $b,
        0.8vmin 0.8vmin 0 0 $b,
        1vmin 1vmin 0 0 $b;
      @include t-l( 58.6%, 36.8% );
      border-radius: 8%;
      background-color: $g3;
      transform: rotate( 15deg ) skewX( -35deg );
    }

    // top
    &::after {
      @include pseduo-div( 34vmin, 24vmin );
      border-right: 1vmin solid $b;
      transform: skewY( 15deg );
      @include t-l( 17%, 0.5% );
      border-radius: 5%;
      background-color: $g2;
    }
  }
}

.b1 {
  border-bottom: 5px solid $b;

  @media only screen and (orientation: landscape) {
    border-bottom: 10px solid $b;
    border-right: 5px solid $b;
  }

  &__cat {
    &--arm-l {
      @include w-h( 9vmin, 26vmin );
      position: absolute;
      background-color: $g1;
      // border: 1px solid green;
      // box-shadow: 0.5vmin 0 0 0 $b, -0.5vmin 0 0 0 $b;
      @include t-l( 15%, 20% );
      transform: rotate( -30deg );
      background:
        linear-gradient( $t 15%, $g1 15.1%),
        radial-gradient( 1% 0.6% at 48% 18%, $g1 1vmin, $g1 1.9vmin, $t 2vmin ),
        radial-gradient( 1% 0.5% at 80% 18%, $g1 0.8vmin, $g1 1.4vmin, $b 1.5vmin, $b 1.8vmin, $t 1.86vmin ),
        radial-gradient( 1% 0.5% at 20% 18%, $g1 0.8vmin, $g1 1.4vmin, $b 1.5vmin, $b 1.8vmin, $t 1.86vmin ),
        radial-gradient( 1% 0.6% at 48% 18%, $g1 1vmin, $g1 1.9vmin, $b 2vmin, $b 2.3vmin, $t 2.36vmin ),
        linear-gradient( $t 15%, $g1 15.1%);

      &::before {
        @include pseduo-div( 100%, 90% );
        border-right: 0.5vmin solid $b;
        border-left: 0.5vmin solid $b;
        @include t-l( 15%, 0 );
      }
    }

    &--arm-r {
      @include w-h( 9vmin, 26vmin );
      position: absolute;
      background-color: $g1;
      box-shadow: 0.5vmin 0 0 0 $b, -0.5vmin 0 0 0 $b;
      @include t-l( 15%, 75% );
      transform: rotate( 30deg );
      // background:
    }
  }
}

.b2 {
  border-top: 5px solid $b;

  @media only screen and (orientation: landscape) {
    border-top: 10px solid $b;
    border-left: 5px solid $b;
  }
}
